li {
    list-style: none;
    font-weight: 800;
}

.title {
    margin-left: 10px;
}
.content {
    margin-left: 10px;
}
.date {
    margin-left: 10px;
    font-weight: 600;
    font-family: 'Raleway', sans-serif;
    color: #FF9D00;
}
ul {
    padding: 0px;
    border-bottom: 1px solid #efefef;
}