@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');
* {
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
}
.container {
    background-image: url(../assets/space-background.png);
    background-size: cover;
}
.hero-text {
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 34px;
    padding-top: 200px;
    /* font-size: 24px; */
    font-size: clamp(1.125rem, 0.6563rem + 1.5vw, 1.5rem);
    color: white;
    letter-spacing: 2px;
}

.hero-img {
    height: 300px;
    width: auto;
}

.center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.login-h2 {
    text-shadow: 2px 2px 5px black;
}

.message {
    margin-top: 20px;
}

@media screen and (max-width:900px) {
    body {
        text-align: center;
    }
    .hero-text {
        height: auto;
    }
    .hero-img {
        height: 150px;
        width: auto;
    }
    .login-signup-form {
        height: auto;
        background: #f5f5f5;
        width: 360px;
        margin: 0 auto;
        border-radius: 8px;
        margin-bottom: 80px;
    }

}